{% extends "./navbar_footer.html" %}{% load static %}{% block content %}
<main class="pt-8 pb-16 antialiased bg-white lg:pt-16 lg:pb-24">
  <div class="flex justify-between max-w-screen-xl px-4 mx-auto">
    <article
      class="w-full max-w-2xl mx-auto format format-sm sm:format-base lg:format-lg format-blue"
    >
      <header class="mb-4 lg:mb-6 not-format">
        <h1
          class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl"
        >
          {{ content.title }}
        </h1>
      </header>

      <figure>
        <img src="{{ content.image.url }}" class="w-full rounded-md" />
      </figure>

      <h3
        class="my-4 text-lg font-bold leading-tight text-gray-900 lg:mb-6 lg:text-2xl"
      >
        {{ content.sub_title }}
      </h3>

      <p class="lead">{{ content.content }}</p>
    </article>
  </div>
</main>
{% endblock content %}
