{% extends "./navbar_footer.html" %}{% load static %}{% block content %}
<div class="bg-[#004029] opacity-70 pb-20 pt-8">
  <h1 class="mt-12 ml-6 text-3xl font-bold text-white capitalize lg:ml-20">
    jurnal
  </h1>
</div>

<div class="flex flex-wrap gap-4 px-4 py-8 m-auto">
  {% for journal in journals %}
  <div class="overflow-hidden shadow-xl card bg-base-100 w-96">
    <div class="overflow-hidden h-52">
      <img src="{{ journal.image.url }}" />
    </div>
    <div class="card-body">
      <h2 class="capitalize card-title">
        {{ journal.title|truncatechars:30 }}
      </h2>
      <p>{{ journal.description|truncatechars:70 }}</p>
      <div class="justify-end mt-4 card-actions">
        <a
          href="{% url 'journal_detail' journal.id %}"
          class="btn btn-warning btn-sm"
          >Baca Selengkapnya</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
