{% extends "./navbar_footer.html" %}{% load static %}{% block content %}
<section class="splide" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img
          src="{% static 'img/carousel/1.png' %}"
          class="lg:h-[78vh] h-[30vh]"
        />
      </li>
      <li class="splide__slide">
        <img
          src="{% static 'img/carousel/2.jpg' %}"
          class="lg:h-[78vh] h-[30vh]"
        />
      </li>
      <li class="splide__slide">
        <img
          src="{% static 'img/carousel/3.jpg' %}"
          class="lg:h-[78vh] h-[30vh]"
        />
      </li>
    </ul>
  </div>
</section>

<div
  style="background-image: radial-gradient(circle, #323c60, #0a502e)"
  class="px-6 py-8 text-center text-white"
>
  <div class="flex flex-col max-w-6xl gap-4 m-auto">
    <h1 class="text-3xl font-bold text-center">SLOGAN</h1>
    <h5 class="text-2xl font-semibold">Lorem Ipsum</h5>
    <p class="text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus
      quis facere rerum soluta pariatur. Odio, harum sit quos accusantium ea
      odit, cum nesciunt incidunt exercitationem magni ipsum quibusdam id
      corporis consequatur ad. Non nostrum reprehenderit est quasi, ex veritatis
      eos voluptatum nam pariatur minima deleniti sunt, praesentium eveniet?
      Ipsam laudantium, rerum fuga exercitationem veritatis maxime et suscipit
      labore explicabo! Error, dolor necessitatibus! Sed esse minus in,
      perspiciatis velit possimus sapiente sunt cum, soluta, corrupti natus
      asperiores suscipit! Pariatur asperiores nesciunt reiciendis, quod velit
      ipsam, assumenda rerum repellat minus, deleniti praesentium officia labore
      omnis ipsa ratione possimus sit ab earum.
    </p>
  </div>
</div>

<div class="flex flex-col max-w-6xl gap-4 px-4 m-auto lg:px-8 my-14">
  <h1 class="text-3xl font-bold text-center">BERITA</h1>
  <div class="flex gap-4 py-4 overflow-x-scroll">
    {% for new in news %}
    <div class="flex-none overflow-hidden border card bg-base-100 w-80">
      <div class="overflow-hidden h-52">
        <img src="{{ new.image }}" class="w-full" />
      </div>
      <div class="gap-4 card-body">
        <h2 class="card-title">{{ new.title|truncatechars:30 }}</h2>
        <p>{{ new.content|truncatechars:200 }}</p>
        <div class="card-actions">
          <a
            href="{% url 'content_news' new.id %}"
            class="btn btn-warning btn-sm"
            >Baca Selengkapnya</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div
  style="background-image: radial-gradient(circle, #323c60, #0a502e)"
  class="px-6 py-16 text-center text-white"
>
  <div class="flex flex-col max-w-6xl gap-4 m-auto">
    <h5 class="text-3xl font-bold text-center uppercase">
      Pendaftaran mahasiswa baru
    </h5>
    <p class="text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus
      quis facere rerum soluta pariatur. Odio, harum sit quos accusantium ea
      odit, cum nesciunt incidunt exercitationem magni ipsum quibusdam id
      corporis consequatur ad. Non nostrum reprehenderit est quasi, ex veritatis
      eos voluptatum nam pariatur minima deleniti sunt, praesentium eveniet?
      Ipsam laudantium, rerum fuga exercitationem veritatis maxime et suscipit
      labore explicabo! Error, dolor necessitatibus! Sed esse minus in,
      perspiciatis velit possimus sapiente sunt cum, soluta, corrupti natus
      asperiores suscipit! Pariatur asperiores nesciunt reiciendis, quod velit
      ipsam, assumenda rerum repellat minus, deleniti praesentium officia labore
      omnis ipsa ratione possimus sit ab earum.
    </p>
  </div>
</div>

<div class="px-6 py-16 text-center bg-[#F6B800] text-[#004029]">
  <div class="flex flex-col max-w-3xl gap-16 m-auto">
    <h5 class="text-3xl font-bold text-center uppercase">Program</h5>
    <div class="flex flex-wrap items-center justify-center gap-20">
      {% for item in list_program %}
      <div class="flex flex-col items-center justify-center w-40 gap-6">
        <i class="{{ item.icon }} text-7xl"></i>
        <p class="text-lg font-bold capitalize">{{ item.name }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="px-6 py-16 text-center">
  <div class="flex flex-col max-w-6xl gap-8 m-auto">
    <h5 class="text-3xl font-bold text-center uppercase text-[#932520]">
      Lebih Dekat Dengan Mahasiswa dan Dosen STAIDA
    </h5>
    <p class="text-xl">
      Universitas STAI Darussalam Sumsel memfasilitasi mahasiswa/ wi dengan
      menghadirkan berbagai Unit Kegiatan Mahasiswa (UKM) dan Lembaga Mahasiswa
      guna mencetak mahasiswa/ wi berprestasi serta mengenal seluruh dosen di
      universitas lebih dekat.
    </p>
    <div
      class="flex flex-wrap items-center justify-center gap-10 mt-10 lg:gap-20"
    >
      <div
        class="w-full max-w-xs overflow-hidden rounded-3xl"
        style="box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5)"
      >
        <div class="bg-[#F6B800] py-8 mb-8 font-bold text-3xl text-white">
          Mahasiswa
        </div>
        <img
          src="{% static 'img/icons/user-graduate.png' %}"
          class="pt-4 pb-16 m-auto w-28"
        />
      </div>
      <div
        class="w-full max-w-xs overflow-hidden rounded-3xl"
        style="box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5)"
      >
        <div class="bg-[#F6B800] py-8 mb-8 font-bold text-3xl text-white">
          Dosen
        </div>
        <img
          src="{% static 'img/icons/user-tie.png' %}"
          class="pt-4 pb-16 m-auto w-28"
        />
      </div>
    </div>
  </div>
</div>

<div class="px-6 py-16 text-center bg-[#004029] text-white">
  <div class="flex flex-col gap-8 m-auto max-w-7xl">
    <h5 class="text-3xl font-bold text-center uppercase">
      Riset dan Pengembangan
    </h5>
    <div class="flex flex-wrap items-center justify-center gap-6 mt-10">
      <div
        class="relative w-full max-w-sm overflow-hidden bg-white rounded-3xl h-[600px]"
        style="box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5)"
      >
        <div class="bg-[#F6B800] py-8 mb-8 font-bold text-3xl text-white">
          Riset
        </div>
        <p class="px-6 text-xl text-gray-600">
          Riset sebagai basis pengembangan keilmuan dilembagakan melalui Lembaga
          Riset dan Inovasi (LRI) yang secara professional mengkaji,
          mengembangkan dan melakukan inovasi riset di STAIDA yang bermanfaat
          dan menjawab permasalahan masyarakat, baik melalui pendanaan internal
          maupun eksternal
        </p>
        <a
          href="#"
          class="bg-[#004029] m-10 font-semibold absolute rounded-full p-4 bottom-0 right-0 left-0"
        >
          Selengkapnya
        </a>
      </div>
      <div
        class="relative w-full max-w-sm overflow-hidden bg-white rounded-3xl h-[600px]"
        style="box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5)"
      >
        <div class="bg-[#F6B800] py-8 mb-8 font-bold text-3xl text-white">
          Jurnal
        </div>
        <p class="px-6 text-xl text-gray-600">
          Guna mengekspos dan menyebarluaskan hasil penelitian dan pengembangan
          keilmuan, UMY menumbuh-kembangkan jurnal-jurnal yang berkualitas dan
          memiliki reputasi sehingga dapat dimanfaatkan oleh masyarakat luas
        </p>
        <a
          href="#"
          class="bg-[#004029] m-10 font-semibold absolute rounded-full p-4 bottom-0 right-0 left-0"
        >
          Selengkapnya
        </a>
      </div>
      <div
        class="relative w-full max-w-sm overflow-hidden bg-white rounded-3xl h-[600px]"
        style="box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5)"
      >
        <div class="bg-[#F6B800] py-8 mb-8 font-bold text-3xl text-white">
          Repositori
        </div>
        <p class="px-6 text-xl text-gray-600">
          Repositori STAIDA adalah koleksi digital yang berisi hasil penelitian
          sivitas akademika STAIDA yang dapat diakses secara bebas
        </p>
        <a
          href="#"
          class="bg-[#004029] m-10 font-semibold absolute rounded-full p-4 bottom-0 right-0 left-0"
        >
          Selengkapnya
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
