{% extends "./navbar_footer.html" %}{% load static %}{% block content %}
<h1 class="mt-12 text-3xl font-bold text-center">PENELITIAN</h1>

<div class="max-w-5xl px-4 py-8 m-auto">
  <ul>
    <li>
      a.
      <a
        class="underline link link-hover"
        href="https://jurnal.staidasumsel.ac.id/"
        >Penelitian</a
      >
    </li>
    <li>
      b.
      <a
        class="underline link link-hover"
        href="https://khozana.staidasumsel.ac.id/index.php/khozana"
        >Khozana</a
      >
    </li>
    <li>
      c.
      <a
        class="underline link link-hover"
        href="https://alhaytam.staidasumsel.ac.id/index.php/alhaytham"
        >Al-Haytam</a
      >
    </li>
  </ul>
</div>
{% endblock content %}
