{% extends "./navbar_footer.html" %}{% load static %}{% block content %}
<h1 class="mt-12 text-3xl font-bold text-center">
  PROFILE KAMPUS STAI DARUSSALAM SUMATERA SELATAN
</h1>

<div
  class="items-center max-w-5xl gap-8 px-4 py-8 m-auto text-center lg:text-left lg:flex"
>
  <img class="w-40" src="{% static 'img/logo.png' %}" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, distinctio
    velit! Iste quas, reiciendis, ad explicabo, quod molestias rem quia qui eius
    sit ducimus perferendis veritatis obcaecati repudiandae. Incidunt in laborum
    iusto repellat nesciunt magnam. Veritatis repellendus exercitationem
    eligendi placeat dignissimos commodi maiores modi tempora a quos earum
    beatae laudantium debitis consequuntur inventore natus, laboriosam voluptate
    nisi asperiores quae nulla molestiae et? Praesentium rem velit, architecto
    laboriosam beatae tempore mollitia voluptates eum voluptatem natus facere
    eius dolor error porro voluptas labore nesciunt quaerat aliquid quae
    deleniti sed iure repudiandae. Cumque pariatur doloribus eaque, in debitis
    minus iste fuga quos quae.
  </p>
</div>
{% endblock content %}
